.btn-add{
  background: #3daa0aea;
  color: #eee;
}

.btn-remove{
  background: #a80a0aea;
  color: #eee;
  font-size: smaller;
}

.btn-remove-out{
  background: #e40505f5;
  color: rgba(238, 104, 14, 0.767);
  font-size: smaller;
  font-weight: bold;
  text-emphasis-color: red;
}


.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: initial;
  padding: 0.3rem 1.5rem;
  background: #dd501d;
  color: #fff;
  border:none;
  outline: none;
  cursor: pointer;
}

.modal-footer span {
  display: block;
  margin-left: auto;
}
