.btn-add{
  background: #3daa0aea;
  color: #eee;
}

.btn-remove{
  background: #460000;
  color: rgb(240, 148, 148);
  font-size:large;
}

.btn-remove-out{
  background: #e40505f5;
  color: rgba(255, 140, 140, 0.767);
  font-size: large;
  font-weight: bold;
  text-emphasis-color: #560101;
}


.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: initial;
  padding: 0.3rem 1.5rem;
  background: #6b1e02;
  color: #fff;
  border:none;
  outline: none;
  cursor: pointer;
}

.modal-footer span {
  display: block;
  margin-left: auto;
}

.body{
  text-align: -webkit-center;
}