*.suo
*.user

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

.vs/
[Tt]est[Rr]esult*/
*.obj
*.pdb
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc

*.pubxml
**/[Pp]ackages/*
node_modules/

appsettings.Development.json
