.btn-add{
  background: #3daa0aea;
  color: #eee;
}
/*
.btn-remove{
  background: #a80a0aea;
  color: #eee;
  font-size: smaller;
}

.btn-remove-out{
  background: #e40505f5;
  color: rgba(1, 29, 6, 0.884);
  font-size: smaller;
  font-weight: bold;
  text-emphasis-color: rgb(253, 57, 57);
}
*/